<style>
  button{
    margin-left: 20px;
  }
</style>

<h2>Máy tính bỏ túi </h2>
<div>
  <label>Number 1 :</label>
  <input type="number" [(ngModel)]="number1" >
</div>
<div style="margin: 20px 0px">
  <button (click)="plush()">+</button>
  <button (click)="subtraction()">-</button>
  <button (click)="multiplication()">x</button>
  <button (click)="division()">/</button>
  <button (click)="clear()">AC</button>
</div>
<div>
  <label>Number 2 :</label>
  <input type="number" [(ngModel)]="number2" >
</div>
<div>
  <h3>kết quả : <span>{{total1}}</span> </h3>
</div>








