<div class="container mt-5 " style="margin-bottom: 300px">


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Số hợp đồng</th>
    <th scope="col">Ngày bắt đầu </th>
    <th scope="col">Ngày kết thúc </th>
    <th scope="col">Số tiền cọc trước </th>
    <th scope="col">Tổng tiền thanh toán</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contracts; let i = index">
    <td>{{i+1}}</td>
    <td>{{contract.idContract}}</td>
    <td>{{contract.starDay}}</td>
    <td>{{contract.endDay}}</td>
    <td>{{contract.deposits}}</td>
    <td>{{contract.moneyTotal}}</td>
  </tr>




  </tbody>
</table>
</div>
