<h2>Color picker</h2>
<input type="checkbox"  [(ngModel)]="color1" (change)="getColorGreen(color1)" > <span>Màu xanh </span><br>
<input type="checkbox" [(ngModel)]="color2" (change)="getColorRed(color2)" > <span>Màu đỏ </span><br>
<input type="checkbox" [(ngModel)]="color3" (change)="getColorPrimary(color3)" > <span>Màu tím </span><br>
<input type="checkbox" [(ngModel)]="color4" (change)="getColorYellow(color4)" > <span>Màu vàng </span><br>


<h1>Danh sách màu của bạn là</h1>
<h2>{{color1}}</h2>
<h2>{{color2}}</h2>
<h2>{{color3}}</h2>
<h2>{{color4}}</h2>
